<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Development Portfolio</title>
    <!-- These are the styles, fonts and framework used for the site -->
    <link href="http://fonts.googleapis.com/css?family=Prociono:400" rel=stylesheet type="text/css">
    <link rel="stylesheet" href="/static/main.css">

    <title> Florence's Blog </title>

</head>

<body>
  <a href="/blog" class="main-title">
     Florence's Blog
     
  </a>
   <hr>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>